jersey-template/src/main/webapp/WEB-INF/wadl/xsd0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="templateModel" type="templateModel"/>

  <xs:complexType name="templateModel">
    <xs:sequence>
      <xs:element name="age" type="xs:int" minOccurs="0"/>
      <xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

